.container{
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 30px;
    font-weight: bold;
    width: 30vw;
    height: 180px;
    text-align: center;
    align-content: flex-start;
    justify-content: center;
    /* margin: 10px; */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}
.conatainer input{
    flex:1;
    margin: 10px 0px;
    width: 10px;
}
#candidate{
    width: 150px;
    height: 30px;
}
.voteButton{
    background-color: green;
    color: white;
    width: 90px;
    height: 30px;
    border-radius: inherit;
}